<nav class="navbar navbar-expand-sm" appHighlighter>
  <div class="container-fluid">
    

    <div class="collapse navbar-collapse d-flex justify-content-between align-items-center" id="collapsibleNavId">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/">Recipe Book</a>
      </div>
     <ng-container *ngIf="loginStatus">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a
            routerLink="/recipes"
            routerLinkActive="activeHiglighting"
            (click)="onSelect('recipe')"
            class="text-decoration-none text-dark"
            >Recipe</a
          >
        </li>
        <li class="nav-item ms-2">
          <a
            [routerLink]="['/ShoppingLists']"
            routerLinkActive="activeHiglighting"
            (click)="onSelect('shopping-list')"
            class="text-decoration-none text-dark"
            >Shopping List</a
          >
        </li>
        <li class="nav-item ms-2">
          <a
            [routerLink]="['/users']"
            routerLinkActive="activeHiglighting"
            class="text-decoration-none text-dark"
            >User</a
          >
        </li>
        <li class="nav-item ms-2">
          <a
            [routerLink]="['/observables']"
            class="text-decoration-none text-dark btn btn-warning"
            >Observables</a
          >
        </li>
        <li class="nav-item ms-2">
          <a
            [routerLink]="['/employee']"
            class="text-decoration-none text-dark btn btn-outline-danger"
            >Employee</a
          >
        </li> 
         <li class="nav-item ms-2">
          <a
            [routerLink]="['/design']"
            class="text-decoration-none text-dark btn btn-danger"
            >Material-UI</a
          >
        </li>
      </ul>
       
     </ng-container >
      

    <ng-container class="me-1">
      <button *ngIf="!loginStatus else loggedOutBtn" class="btn btn-info" [routerLink]="['/login']">
        Login
 </button>

 <ng-template #loggedOutBtn>
   <button class="btn btn-info" (click)="onLogout()">Logout</button>
 </ng-template>
 
    </ng-container>
    

    </div>
  </div>
</nav>
