<!-- 
<app-common-grid
  [columns]="columns"
  [data]="employees"
  [hasActions]="hasAction"
>
</app-common-grid> -->

<div class="d-flex mt-5 justify-content-end">
  <!-- <button  class="btn btn-info" (click)="postEmployee()">
        Add User
    </button> -->
</div>

<table class="mt-5 table table-responsive table-bordered">
  <thead>
    <th *ngFor="let item of columns">
      {{ item }}
    </th>
  </thead>
  <tbody>
    <tr *ngFor="let item of employees">
      <!-- <td *ngFor="let col of columns">
                {{item[col]}}
            </td> -->

      <td>{{ item.firstName }}</td>
      <td>{{ item.lastName }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.phone }}</td>
      <td>{{ item.gender }}</td>
      <td>{{ item.city }}</td>
      <td>
        <button
          class="m-2 btn btn-success"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          (click)="hadleClickType('edit', item)"
        >
          Edit
        </button>
        <button class="m-2 btn btn-danger" (click)="deleteEmployee(item.id)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Button trigger modal -->
<button
  type="button"
  (click)="hadleClickType('add', null)"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
>
  Add Employee
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Employee</h1>
        <button
          type="button"
          #addEmployeeCloseBtn
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          [formGroup]="employeeForm"
          (ngSubmit)="postEmployee()"
          class="mt-4"
        >
          <div class="mb-3">
            <label for="firstName" class="form-label">First Name:</label>
            <input
              type="text"
              id="firstName"
              formControlName="firstName"
              class="form-control"
            />

            <div *ngIf="hasError('firstName', 'required')" class="text-danger">
              First Name is required
            </div>
            <div *ngIf="hasError('firstName', 'maxlength')" class="text-danger">
              Maximum 20 characters allowed
            </div>
          </div>

          <div class="mb-3">
            <label for="lastName" class="form-label">Last Name:</label>
            <input
              type="text"
              id="lastName"
              formControlName="lastName"
              class="form-control"
            />
            <div *ngIf="hasError('lastName', 'required')" class="text-danger">
              Last Name is required
            </div>
            <div *ngIf="hasError('lastName', 'maxlength')" class="text-danger">
              Maximum 20 characters allowed
            </div>
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input
              type="email"
              id="email"
              formControlName="email"
              class="form-control"
            />
            <div *ngIf="hasError('email', 'required')" class="text-danger">
              Email is required
            </div>
            <div *ngIf="hasError('email', 'maxlength')" class="text-danger">
              Maximum 50 characters allowed
            </div>
            <div *ngIf="hasError('email', 'pattern')" class="text-danger">
              Invalid Email fromat
            </div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input
              type="password"
              id="password"
              formControlName="password"
              class="form-control"
            />
            <div *ngIf="hasError('password', 'required')" class="text-danger">
              Password is required
            </div>
            <div *ngIf="hasError('password', 'maxlength')" class="text-danger">
              Maximum 20 characters allowed
            </div>
            <div *ngIf="hasError('password', 'minlength')" class="text-danger">
              Minimum 8 characters allowed
            </div>
          </div>
          <div class="mb-3">
            <label for="confirmPassword" class="form-label"
              >Confirm Password:</label
            >
            <input
              type="Password"
              id="confirmPassword"
              formControlName="confirmPassword"
              class="form-control"
            />
            <div
              *ngIf="hasError('confirmPassword', 'required')"
              class="text-danger"
            >
              Confirm Password is required
            </div>
            <div
              *ngIf="hasError('confirmPassword', 'maxlength')"
              class="text-danger"
            >
              Maximum 20 characters allowed
            </div>
            <div
              *ngIf="hasError('confirmPassword', 'minlength')"
              class="text-danger"
            >
              Minimum 8 characters allowed
            </div>
            <div
              *ngIf="hasError('confirmPassword', 'passwordMismatch')"
              class="text-danger"
            >
              Password and Confrim Password must be same
            </div>
          </div>

          <div class="mb-3">
            <label for="phone" class="form-label">Phone:</label>
            <input
              type="number  "
              id="phone"
              formControlName="phone"
              class="form-control"
              maxlength="10"
              (keydown)="hadleTheFocus('phone')"
            />
            <div *ngIf="hasError('phone', 'required')" class="text-danger">
              Mobile Number is required
            </div>
            <div *ngIf="hasError('phone', 'maxlength')" class="text-danger">
              Maximum 10 digits allowed
            </div>
            <div *ngIf="hasError('phone', 'pattern')" class="text-danger">
              Invalid fromat [must be digits]
            </div>
          </div>
          <div class="mb-3">
            <label for="age" class="form-label">Age:</label>
            <input
              type="text"
              id="age"
              formControlName="age"
              class="form-control"
            />
            <div *ngIf="hasError('age', 'required')" class="text-danger">
              Age is required
            </div>
            <div *ngIf="hasError('age', 'max')" class="text-danger">
              Maximum 60 digits allowed
            </div>
            <div *ngIf="hasError('age', 'min')" class="text-danger">
              Minimun 16 allowed
            </div>
            <div *ngIf="hasError('age', 'pattern')" class="text-danger">
              Invalid Age fromat
            </div>
          </div>

          <div class="mb-3">
            <label for="gender" class="form-label">Gender:</label>
            <select id="gender" formControlName="gender" class="form-select">
              <option value="" disabled>Select gender</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="other">Other</option>
            </select>
            <div *ngIf="hasError('gender', 'required')" class="text-danger">
              Gender is required
            </div>
          </div>

          <div class="mb-3">
            <label for="city" class="form-label">City:</label>
            <input
              type="text"
              id="city"
              formControlName="city"
              class="form-control"
            />
            <div *ngIf="hasError('city', 'required')" class="text-danger">
              City is required
            </div>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
