<div class="container">
  <div class="row gap-4 mt-4">
    <a
      [routerLink]="['fromEvent']"
      class="col-2 bg-primary bg-opacity-10 text-decoration-none text-center p-4 fs-4 text-danger"
      >From Event</a
    ><a
      [routerLink]="['interval']"
      class="col-2 bg-primary bg-opacity-10 text-decoration-none text-center p-4 fs-4 text-danger"
      >Interval</a
    ><a
      [routerLink]="['ofFrom']"
      class="col-2 bg-primary bg-opacity-10 text-decoration-none text-center p-4 fs-4 text-danger"
    >Of from</a
    ><a
      [routerLink]=""
      class="col-2 bg-primary bg-opacity-10 text-decoration-none text-center p-4 fs-4 text-danger"
    ></a
    ><a
      [routerLink]=""
      class="col-2 bg-primary bg-opacity-10 text-decoration-none text-center p-4 fs-4 text-danger"
    ></a>
  </div>
</div>
