<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name </label>
          <input id="name"  #nameInput type="text" class="form-control" maxlength="50" minlength="3" required />
        </div>
        <div class="col-sm-5 form-group">
          <label for="amount">Amount </label>
          <input id="amount" #amountInput type="number" class="form-control" required />
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-xs-12 ">
          <button class="btn btn-success mx-1" type="submit"  (click)="AddToList()">Add</button>
          <button class="btn btn-danger mx-1">Remove</button>
          <button class="btn btn-primary mx-1">clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
